/* index */

.portada {
    @include flexcol ($justcont: space-between);


    #portadaimg {

        position: relative;
        width: 100%;
    }

    .titleportada {
        position: absolute;
        font-size: 14px;
        top: 9vh;
        left: 60%;
        width: 130px;
        text-shadow: -4px 4px 4px map-get($map: $colors, $key: cprimary);
        z-index: 2;
        transition-duration: .2s;
    }
}


.video {
    @include flexcol ($justcont: space-between);
    gap: 4vh;
}

.cardvideo iframe {
    border-radius: 8px;
    border: 1px solid map-get($map: $colors, $key: ctext);
    width: 80vw;
    max-width: 930px;
    max-height: 500px;
    height: 46vw;
    transition-duration: .2s;
}

.cardvideo {
    @include flexcol ($justcont: space-between);
    gap: $gapcard;
}


.fotos {
    @include flexcol ($justcont: space-between);
    gap: 4vw;

    .nosotros {
        @include flexcol ($justcont: space-around);
        gap: $gapcard;

        .titulonos {
            @include flexcol ($justcont: space-between);
        }

        .contcardmusico {
            @include flexcol ($justcont: space-around);
            gap: 4vw;

            .cardmusico {
                @include flexcol ($justcont: center);
                gap: $gapcard;

                img {
                    width: 80vw;
                    border-radius: 8px;
                    border: 1px solid map-get($map: $colors, $key: ctext);
                    transition-duration: .2s;
                }

                .textcardmusico {
                    @include flexcol ($justcont: center);
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.musica {
    @include flexcol ($justcont: center);
    gap: calc($h2*2);

    .discos {
        @include flexcol ($justcont: center);
        gap: 12vw;
    }
}

.carddisco {
    @include flexcol ($justcont: space-between);
    gap: $h3big;

    img {
        width: 60vw;
        transition-duration: .4s;
        animation-name: discoshow;
        animation-duration: .8s;
        animation-delay: 1s;
        max-width: 300px;

        &:hover {
            transform: scale(1.17);
            border-radius: 32px;
            box-shadow: 0 0 $h4 map-get($map: $colors, $key: ctext);
        }
    }
}



@keyframes discoshow {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.contshowscontacto {
    @include flexcol ($justcont: space-between);
    gap: calc($h4*2);

    .contshowscontactochild {
        @include flexcol ($justcont: space-between);
        gap: 15vw;
        transition-duration: .2s;

        .shows {
            @include flexcol ($justcont: space-between);
            gap: $h2;

            .logoshows {
                width: 160px;
            }
        }
    }
}

.contacto {
    margin-top: $h4;
    display: flex;
    flex-direction: column;
    gap: $h3;

    form {
        display: flex;
        flex-direction: column;
        gap: $h3;
        
        input {
            background-color: map-get($map: $colors, $key: cprimary );
            border: none;
            border-bottom: 1px solid map-get($map: $colors, $key: csecondary);
            font-family: 'IM Fell English SC', serif;
            font-size: $h4;
            color: map-get($map: $colors, $key: ctext);
        }

        textarea {
            background-color: map-get($map: $colors, $key: cprimary );
            border: none;
            border-bottom: 1px solid map-get($map: $colors, $key: csecondary);
            font-family: 'IM Fell English SC', serif;
            font-size: $h4;
            color: map-get($map: $colors, $key: ctext);
        }

        button {
            border: none;
            background-color: map-get($map: $colors, $key: cprimary );
            font-family: 'IM Fell English SC', serif;
            font-size: $h3;
            color: map-get($map: $colors, $key: caccent );
        }
    }

}