* {
    margin: center;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



main {
    overflow-x: hidden;
    background-color: map-get($map: $colors, $key: cprimary);
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 74vh;
    gap: 12vh;
    font-family: 'IM Fell English SC', serif;
    color: map-get($map: $colors, $key: ctext);
}