/* bio */

.titlepage {
    margin-top: 10vh;
}

.bio {
    @include flexcol ($justcont: space-between);
    width: 100vw;
    gap: 6vh;

    #cardbio1 {
        @include flexcol ($justcont: space-between);
        width: 80vw;
        max-width: 1000px;
        gap: 4vh;
        transition-duration: .2s;

        p {
            font-size: $h3;
            word-spacing: 3px;
            line-height: 1.8;
            white-space: pre-line;
            transition-duration: .2s;
        }

    }
    
    #cardbio2 {
        @include flexcol ($justcont: space-between);
        flex-direction: column-reverse;
        width: 80vw;
        max-width: 1000px;
        gap: 4vh;
        transition-duration: .2s;

        p {
            font-size: $h3;
            word-spacing: 3px;
            line-height: 1.8;
            white-space: pre-line;
            transition-duration: .2s;
        }
    }

    img {
        width: 80vw;
        max-width: 1000px;
        border: 1px solid map-get($map: $colors, $key: ctext);
        border-radius: 8px;
    }
}


/* música */

.mainmusica {
    display: flex;
    flex-direction: column;
    gap: calc($h2*2);
    transition-duration: .2s;

    .contcarddisco {
        display: flex;
        flex-direction: column;
        gap: 12vw;
        transition-duration: .2s;
    }    

}


/* shows */

.contshows {
    @include flexcol ($justcont: space-between);
    gap: calc($h2*2);
    transition-duration: .9s;

    .cardshow {
        @include flexcol ($justcont: space-between);
        width: 60vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
        min-width: 240px;
        transition-duration: .2s;

        .place {
            @include flexcol ($justcont: space-between);
        }
        
        .entradas {
            margin: 3vh;
        }
    }
    
}



/* fotos */

.fotosmain {
    @include flexcol ($justcont: space-between);
    gap: 2vh;
    width: 100vw;
    img {
        border-radius: 8px;
        border: 1px solid map-get($map: $colors, $key: csecondary);
        width: 80vw;
        max-width: 1000px;
    }
    
    .fotos2 {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 80vw;
        max-width: 1000px;
    }
    
    
    .fotos3 {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 80vw;
    }
}




/* contacto */

.contactomain {
    @include flexcol ($justcont: space-between);
    flex-direction: column-reverse;
    gap: 6vh;

    img {
        width: 160px;
    }
}
